.trs{
    height: 80px;
    border-bottom: 1px solid #22262e;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.symbol{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.symbol img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.symbol span{
    font-weight: 600;
    font-size: 1.2rem;
    color: #9fa6b7;
}
.success{
color: #57bc7c;
}
.error{
color: #d33636;
}